* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    background-color: #151418;
    background-image: url('../photo.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: normal;


}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo span {
    color: #8739fa;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
    transition: opacity 0.2s ease-in-out;
}

.menu:hover li {
    opacity: 0.4;
}

.menu li:hover {
    opacity: 1;
    color: #fff;
}

footer {
    background-color: black;
    color: white;
    text-align: right;
    margin-top: auto;
    margin-bottom: 0%;
    padding-bottom: 0%;
}