* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    


}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url('../photo.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.logo span {
    color: #0051ff;
}



nav {
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.menu a {
    display: inline-flexbox;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.menu li {
    display: inline-block;
    padding: 0 20px;
    transition: opacity 0.2s ease-in-out;
}

.menu:hover li a {
    opacity: 0.4;
    transition-duration: .5s;
}

.menu li:hover a {
    opacity: 1;
    font-size: 20px;
    color: #cbe9ff;
    transition-duration: 1s;
}

footer {
    color: white;
    text-align: right;
    margin-top: auto;
    margin-bottom: 0%;
    padding-bottom: 0%;
}